form {
  font-size: 16px;
  .form-group {
    display: block;
    margin-bottom: 20px;
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.9);
    }
    input,
    textarea {
      font-size: 16px;
      font-family: var(--font-family-base);
      color: rgba(0, 0, 0, 0.9);
      -webkit-appearance: none;
      appearance: none;
      border: none;
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: var(--card-border-radius);
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.9);

      &::placeholder {
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }
  .button {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    
    &:hover {
      background-color: #ffffff;
      transform: none;
      box-shadow: none;
    }
  }
}
