
{% assign heading = include.heading %}
{% assign sub_heading = include.sub_heading %}
{% assign align = include.align | default: "left" %}
{% assign view_more_button_text = include.view_more_button_text %}
{% assign view_more_button_link = include.view_more_button_link %}
{% assign view_more_icon = include.view_more_icon %}

{% if heading or sub_heading %}
<div class="col-12">
  <div class="grid-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="grid-header-title">
        {% if heading and heading != "" %}<h2 class="mb-0">{{ heading }}</h2>{% endif %}
        {% if sub_heading and sub_heading != "" %}<p class="large">{{ sub_heading }}</p>{% endif %}
      </div>
      
      <div class="grid-header-right">
        {% if include.show_filters %}
        <div class="project-filters">
          <button class="btn btn-filter active" data-filter="all">All</button>
          {% comment %}Build unique tag list{% endcomment %}
          {% assign project_tags = "" | split: "" %}
          {% for project in site.projects %}
            {% if project.tags %}
              {% for tag in project.tags %}
                {% if tag != "" and tag != nil %}
                  {% assign project_tags = project_tags | push: tag %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
          {% assign sorted_tags = project_tags | uniq | sort %}
          {% for tag in sorted_tags %}
            {% if tag != "" and tag != nil %}
              <button class="btn btn-filter" data-filter="{{ tag }}">{{ tag }}</button>
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        
        {% if view_more_button_text and view_more_button_text != "" and view_more_button_link and view_more_button_link != "" %}
        <div class="grid-header-view-more">
          <a class="grid-view-more-button" href="{{ view_more_button_link }}">
            {{ view_more_button_text }}
            {% if view_more_icon and view_more_icon != "" %}
              <i class="fas {{ view_more_icon }}"></i>
            {% endif %}
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}